.formulario{
width: 100%;
}
.campo{
    display: flex;
    margin-bottom: 2rem;
    align-items: center ;
    label{
        flex: 0 0 10rem;
        color: $blanco;
    }
    input{
        flex: 1;
        padding: $separacion/4;
        border-radius: .5rem;
        border: none;
    }
}
.alerta{
    color: $blanco;
    padding: $separacion / 2;
    width: 100%;
    display: block;
    text-align: center;
    &.error{
background-color: rgb(194, 0,0);
    }
}